
layout {
    pane split_direction="vertical" {
        pane
    }

    pane size=1 borderless=true {
        plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
            format_left  "#[fg=#B931FC,bg=#000000]{mode} #[fg=#000000,bg=#B931FC] {session}  #[fg=#B931FC,bg=#000000] {tabs}"
            format_right "#[fg=#000000,bg=#5D12D2]#[fg=#f8f8f2,bg=#5D12D2]{datetime}#[fg=#5D12D2,bg=#000000]"
            format_space "#[bg=#000000] "

            border_enabled  "false"
            border_char     "─"
            border_format   "#[fg=#6C7086]{char}"
            border_position "top"

            hide_frame_for_single_pane "false"

            mode_normal  "#[fg=#ffff88,bg=#FF6AC2] {name}#[fg=#FF6AC2,bg=#B931FC]"
            mode_normal  "  {name}"

            mode_tmux    "  {name}"

            tab_normal   "#[fg=#44475a, bg=#000000]#[fg=#f8f8f2,bg=#44475a] {index}: {name} #[fg=#44475a, bg=#000000]"
            tab_normal   "#[fg=#44475a, bg=#000000]#[fg=#f8f8f2,bg=#44475a] {index}  {name} #[fg=#44475a, bg=#000000]"

            tab_active   "#[fg=#bd93f9,bg=#000000]#[fg=#f8f8f2,bg=#bd93f9] {index}: {name} #[fg=#bd93f9,bg=#000000]"
            tab_active   "#[fg=#bd93f9,bg=#000000]#[fg=#f8f8f2,bg=#bd93f9] {index} #[fg=#bd93f9,bg=#44475a]#[fg=#f8f8f2,bg=#44475a] {name} #[fg=#44475a,bg=#000000]"


            command_cpu  "bash "

            datetime        "#[fg=#IFFE5E5,bg=#5D12D2] {format} "
            datetime_format "%A, %d %b %Y %H:%M"
            datetime_timezone "America/New_York"
        }
    }
}
